@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    list-style-type: none;
    font-family: montserrat; 
}

li{
    list-style-type: none;
}

/* Header style */

header {
	background-color: #bbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	display: flex;
	flex-direction: column
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

/* Footer style */
footer{
    height: 100px;
    background-color:  #36454f;
    text-align: center;
    color: white;
    font-family: montserrat;
    font-size: 1.3rem;
}